[build]
  command = "pnpm run build:client"
  functions = "netlify/functions"
  publish = "dist/spa"

[build.environment]
  NETLIFY_USE_PNPM = "true"
  PNPM_VERSION = "10.14.0"


[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
